<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/caps.css}" />
</head>

<body>
    <header th:replace="fragments/general.html :: header"></header>
    <div th:replace="fragments/general.html :: menubar"></div>
    <table class="Buttontbl" th:fragment="adminbuttom">
        <tr>
            <th class="btndiv"><a th:href="@{/admin/listStudents}" class="actionbtn">Manage Students</a></th>
        </tr>
        <tr>
            <th class="btndiv"><a th:href="@{/admin/listLecturers}" class="actionbtn">Manage Lecturers</a></th>
        </tr>
        <tr>
            <th class="btndiv"><a th:href="@{/admin/listCourseDetails}" class="actionbtn">Manage Courses</a></th>
        </tr>
    </table>
	<div class="courselistbody">
		<h2>Welcome <span th:text="${admin.name}"></span></h2>
		<img class="studentphoto" th:src="@{/images/1st.jpeg}" alt="photo unavailable"/>
	</div>

	<footer th:replace="fragments/general.html :: footer"></footer>
</body>

</html>

