<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>
</head>
<body>
<header>test </header>

	<table>
        <tr><th><a th:href="@{/post/listPost}"> View Posts </a></th></tr>
        <tr><th><a th:href="@{/post/listPost}"> Login </a></th></tr>
		<tr><th><a th:href="@{/preference/setpreference}"> Save Preference </a></th></tr>
		<tr><th><a th:href="@{/notification/listNotification}"> Save Preference </a></th></tr>
	</table>
	
</body>
</html>