<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu"></div>
	<h1>Notifications</h1><br><br>
	<form action="" th:object="${ntf}" th:action="@{/post/listPost}"
		method="get" class="form-horizontal">
		<fieldset>
			<input type="hidden" th:field="*{notificationId}" />
			
		</fieldset>

        <h2>A new car arrival that matches your preference</h2>
		<table>
			<tr th:object="${ntf}">
				 <td th:text=${ntf.notificationId}></td>
				 <td th:text=${ntf.type}></td>
				 <td th:text=${ntf.Msg}></td>
			</tr>
		 </table>
	
		
		<fieldset>
			<button type="submit">View Arrival</button>
		</fieldset>
	</form>
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>