<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu"></div>
	<h1>Set your preferences</h1><br><br>
	<form action="" th:object="${pref}" th:action="@{/preference/save}"
		method="get" class="form-horizontal">
		<fieldset>
			<input type="hidden" th:field="*{id}" />
			
		</fieldset>
		<fieldset>
			Model: <input type="text" th:field="*{model}">
			Brand: <input type="text" th:field="*{brand}">
			Category: <input type="text" th:field="*{category}">
		</fieldset><br>
		<h3>Price</h3>
		<fieldset>
			Lowest: <input type="text" th:field="*{lowestPrice}">
			Highest: <input type="text" th:field="*{highestPrice}">
		</fieldset><br>
		<h3>Registration Year</h3>
		<fieldset>
			 From: <input type="text" th:field="*{RegisteredYearMin}">
			 To: <input type="text" th:field="*{RegisteredYearMax}">
		</fieldset><br>
		<h3>Depreciation</h3>
		<fieldset>
			 From: <input type="text" th:field="*{depreciationMin}">
			 To: <input type="text" th:field="*{depreciationMax}">
		</fieldset><br>
		<h3>Engine Capacity</h3>
		<fieldset>
			 From: <input type="text" th:field="*{engineCapacityMin}">
			 To: <input type="text" th:field="*{engineCapacityMax}">
		</fieldset><br>
		
		<fieldset>
			<button type="submit">Save</button>
		</fieldset>
	</form>
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>