<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Preferences Page</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <h1>Listing</h1>
  <table>
 <tr>
   <th>ID</th>
   <th>Model</th>
   <th>Brand</th>
   <th>Low Price</th>
   <th>Highest Price</th>
   <th>Category</th>
   <th>UserID</th>
   <th>UserName</th>
 </tr>
 <tr th:each="pref:${preflist}">
   <td th:text="${pref.id}">ID</td> 
   <td th:text="${pref.model}">Model</td>
   <td th:text="${pref.brand}">Brand</td>
   <td th:text="${pref.lowestPrice}">LowestPrice</td>
   <td th:text="${pref.highestPrice}">HighestPrice</td>
   <td th:text="${pref.category}">Category</td>
   <td th:text="${pref.user.userId}">UserID</td>
   <td th:text="${pref.user.username}">UserName</td>
   

   
 </tr>
</table>
  <div th:replace="layout/layout.html :: footer"></div>
</body>
</html>